{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container col-12 col-md-10 col-lg-6">
        <h1 class="text-center m-3">Dupliquer - {{ campagne.nom }}</h1>
        <div>
            Vous pouvez changer les informations de la campagne. Une fois le formulaire validé, tous les tests de l'ancienne campagne seront copiés dans la nouvelle campagne.
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-lg btn-primary mt-3" type="submit">
            Dupliquer
        </button>
        <a class="btn btn-lg btn-primary mt-3" href="{{ app.request.headers.get('referer') }}">Annuler</a>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}
    Dupliquer une campagne de test {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="{{ asset('scripts/utils/datepicker.js') }}"></script>
{% endblock %}